<% @title="Home" %>

<div>
	<h1>Library System Home</h1>
</div>

<div>
	<li>
		<ul>
			<%= link_to "Authors", authors_path %> 
		</ul>

		<ul> 
			<%= link_to "Categories", categories_path %> 
		</ul>

		<ul>
			<%= link_to "Books", books_path %> 
		</ul>

	</li>
</div>
